/* EventsGrid.module.css */
.eventsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  padding: 10px;
}


.eventCard {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  cursor : pointer;
}

.eventImage {
  width: 100%;
  height: 160px;
  border-radius: 8px;

}

.eventInfo {
  margin-top: 10px;
  white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Ensures overflow text is not visible */
    text-overflow: ellipsis; /* Adds an ellipsis to truncated text */
    max-width: 160px; /* Adjust based on your layout's needs */
  
}

.eventName {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.eventDate {
  font-size: 0.9em;
  color: #333;
}

/* Additional styles for event cards can be added here */
