/* Home.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.midContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  max-height: '50%';
  max-width: '70%';


}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-right: 10vh;


}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width : '70%'

}

.separator {
  width: 1px;
  height: 70%; /* Adjust height as needed */
  background-color: #ddd; /* Adjust color as needed */
}

.gradientText0 {
  background: linear-gradient(45deg, #1f3012, #4ba720);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  font-size: 3em;
  
}

.subtitle {
  font-size: 1.5em;
  color: #333;
}

.placeholderImage {
  width: 500px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  background: #ededed; /* Placeholder color */
  border-radius: 10px;
  margin-top: 20px;
  
}

.rightPanel {
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Adjust maximum width as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .separator {
    display: none;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
    max-width: none;
  }

  .placeholderImage {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
  }
}
