/* HomeButton.module.css */
.mintButtonContainer {
  display: flex;
  justify-content: center;
}

.navItem {
  display: flex;
  gap: 5px;
  font-size: 0.9em;
  color: #2f571a;
  padding: 5px 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  cursor: pointer;
}
